/**
 * @name BoTag
 * @version 1.0.0
 * @description Replaces app for bot
 * @author inventionpro
 * @authorId 816691475844694047
 * @source https://github.com/inventionpro/Discord-themes
*/

/* Hide old */
:not([data-text*="#"],[data-text="Discord"]) + span[class*="botTag"]:not([class*="botTagOP"]) [class*="botText"] {
  width: 24px;
  display: inline-block;
  color: transparent;
  word-wrap: normal;
}

/* Add new */
:not([data-text*="#"],[data-text="Discord"]) + span[class*="botTag"]:not([class*="botTagOP"]) [class*="botText"]::before {
  content: "BOT";
  color: #fff;
}
