/**
 * @name BoTag
 * @version 1.0.0
 * @description Replaces app for bot
 * @author inventionpro
 * @authorId 816691475844694047
 * @source https://github.com/inventionpro/Discord-themes
*/

span[class*="botTag_"]:not([class*="botTagOP_"]) [class*="botText_"] {
  width: 25px;
  display: inline-block;
  color: transparent;
  word-wrap: normal;
}
span[class*="botTag_"]:not([class*="botTagOP_"]) [class*="botText_"]::before {
  content: "BOT";
  color: #fff;
}
