/**
 * @name Cat
 * @version 1.0.0
 * @description Replaces the cat from neko atsume in vencord decor for cat ears
 * @author inventionpro
 * @authorId 816691475844694047
 * @source https://github.com/inventionpro/Discord-cat-ears
 */

img[src="https://ugc.decor.fieryflames.dev/78fabc8ba9eeaccc79247e1d3c25a921.png"] {
    display: none;
}

div.contents_f41bb2:has(img[src="https://ugc.decor.fieryflames.dev/78fabc8ba9eeaccc79247e1d3c25a921.png"])::after {
    content: "";
    position: absolute;
    left: 11px;
    top: calc(var(--uwutop, 0px) + var(--uwuclick, 0px));
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex: 0 0 auto;
    pointer-events: none;
    z-index: 1;
    background-image: url(https://cdn.discordapp.com/avatar-decoration-presets/a_c3cffc19e9784f7d0b005eecdf1b566e.png?size=128&passthrough=false);
    background-size: contain;
    animation: none;
}

div.contents_f41bb2:has(.avatar__08316:active):has(img[src="https://ugc.decor.fieryflames.dev/78fabc8ba9eeaccc79247e1d3c25a921.png"]):after {
    --uwuclick: 1px;
}

svg:not([width="108"], [width="96"], [width="162"], [width="144"], [width="48"], [width="57"]) div.avatarStack__6604a:has(img[src="https://ugc.decor.fieryflames.dev/78fabc8ba9eeaccc79247e1d3c25a921.png"])::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    background-image: url(https://cdn.discordapp.com/avatar-decoration-presets/a_c3cffc19e9784f7d0b005eecdf1b566e.png?size=128&passthrough=false);
    background-size: contain;
    animation: none;
}
div.avatarStack__6604a:has(img[src="https://ugc.decor.fieryflames.dev/78fabc8ba9eeaccc79247e1d3c25a921.png"])::after {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    background-image: url(https://cdn.discordapp.com/avatar-decoration-presets/a_c3cffc19e9784f7d0b005eecdf1b566e.png?size=1024&passthrough=true);
    background-size: contain;
    animation: none;
}

.messageListItem__6a4fb:has(.repliedMessage_e2bf4a):not(:has(.repliedTextContentIcon__4dd82)):not(:has(.edited_b20dd9)) div.contents_f41bb2:has(img[src="https://ugc.decor.fieryflames.dev/78fabc8ba9eeaccc79247e1d3c25a921.png"])::after {
    --uwutop: 22px;
}

.messageListItem__6a4fb:has(.repliedMessage_e2bf4a):has(.repliedTextContentIcon__4dd82, .edited_b20dd9) div.contents_f41bb2:has(img[src="https://ugc.decor.fieryflames.dev/78fabc8ba9eeaccc79247e1d3c25a921.png"])::after {
    --uwutop: 24px;
}

@keyframes animatedBackground {
  0% { background-image: url(https://cdn.discordapp.com/avatar-decoration-presets/a_c3cffc19e9784f7d0b005eecdf1b566e.png?size=128&passthrough=false); }
  100% { background-image: url(https://cdn.discordapp.com/avatar-decoration-presets/a_c3cffc19e9784f7d0b005eecdf1b566e.png?size=128&passthrough=true); }
}

div.contents_f41bb2:has(img[src="https://ugc.decor.fieryflames.dev/78fabc8ba9eeaccc79247e1d3c25a921.png"]):hover::after {
    animation-name: animatedBackground;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

div.avatarStack__6604a:has(img[src="https://ugc.decor.fieryflames.dev/78fabc8ba9eeaccc79247e1d3c25a921.png"]):hover::after {
    animation-name: animatedBackground;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
